{
  "app_params": {
    "detectFlags": "face_240_detect",
    "faceModelName": "perfect2",
    "facetips": 1,
    "innerfilter": true
  },
  "dev_version": "10.15",
  "min_version": "10.15",
  "systemList": [
    "AnimatorSystem",
    "BehaviorSystem",
    "CameraSystem",
    "EventSystem",
    "FaceMakeupV2System",
    "FaceReshapeSystem",
    "LightSystem",
    "MeshRendererSystem",
    "ScriptSystem",
    "ShadowMapSystem",
    "SkinMeshRendererSystem",
    "TransformSystem"
  ],
  "type": "amazing",
  "version": "0.1"
}