{
  "app_params": {
    "detectFlags": "face_240_detect",
    "faceModelName": "perfect2",
    "facetips": 1,
    "innerfilter": true
  },
  "dev_version": "10.15",
  "min_version": "10.15",
  "systemList": [
    "BehaviorSystem",
    "CameraSystem",
    "EventSystem",
    "FaceMakeupV2System",
    "MeshRendererSystem",
    "ScriptSystem",
    "TransformSystem",
    "v1_facemakeup",
    "v1_genderdetect_all",
    "v2_filter",
    "v6_camera",
    "BuiltinObjectSystem"
  ],
  "type": "amazing",
  "version": "0.1"
}