{
	"dev_version" : "10.65.0",
	"editor_info" : {},
	"min_version" : "10.62.0",
	"systemList" : 
	[
		"BehaviorSystem",
		"CameraSystem",
		"MeshRendererSystem",
		"TransformSystem",
		"RenderSystem",
		"BuiltinObjectSystem",
		"EventSystem",
		"ScriptSystem" 	
	],
	"type" : "amazing",
	"version" : "0.1"
}